---
layout: default
---

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        {% for post in site.posts %}
          <h1 class="title">
            <a href="{{ post.url }}">{{ post.title }}</a></h1>
          <p>{{ post.date | date: '%d/%m/%Y' }}</p>

          <hr/>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
