---
---

{% node_module bulma/css/bulma.min.css %}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h1, h2, h3, p {
  margin-bottom: 2rem;
}

ul {
  list-style: disc;
}
