---
layout: default
---

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">{{ page.title }}</h1>
        <p>{{ page.date | date: '%d/%m/%Y' }}</p>

        {{ content }}
      </div>
    </div>
  </div>
</div>
